* {
  margin: 0;
  padding: 0;
}

.footer--container {
  display: flex;
  font-family: "Manrope", sans-serif;
  justify-content: center;
  margin-bottom: 1.5rem;
}

.footer {
  display: flex;
  align-items: center;
  gap: 30rem;
}

@media screen and (max-width: 61.875em) {
  .footer {
    gap: 6rem;
  }
}

@media screen and (max-width: 40.625em) {
  .footer {
    gap: 2rem;
  }
  .footer p {
    margin-left: 1rem;
  }
}
