.navbar {
  display: flex;
  align-items: center;
  font-family: "Manrope", sans-serif;
  margin-top: 0;
  margin-bottom: 2rem;
  padding: 1rem;
  background-color: #282c30;
}

.navbar--burger {
  margin: 0;
  padding: 0;
}

.desktop--navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.nav--header {
  display: flex;
  margin-left: 1.5rem;
  font-size: 2rem;
}

.nav--header h2 {
  margin: 0;
  font-size: 2rem;
}

.nav--links {
  margin-right: 1.5rem;
  font-size: 1.5rem;
}

.nav--links a {
  margin-left: 1.2rem;
  text-decoration: none;
  color: #efeef3;
}

.nav--links a:hover {
  color: #81ecec;
}

#navbar {
  position: sticky;
  top: 0;
  z-index: 999;
}

.burger--menu {
  display: none;
  cursor: pointer;
}

.hidden {
  display: none;
}

.visible {
  display: flex;
}

.menu {
  width: 100vw;
  height: 100vh;
  background-color: #17181a;
  z-index: 800;
  margin: 0;
}

.menu--options {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 15rem;
  gap: 5rem;
  font-size: 2rem;
}

.menu--options a {
  text-decoration: none;
  color: #efeef3;
}

.burger--icon {
  z-index: 10;
}

.exit--icon {
  display: flex;
  margin-left: auto;
  margin-right: 2rem;
  margin-top: 1rem;
}

@media screen and (max-width: 61.875em) {
  .nav--links {
    display: none;
  }
  .burger--menu {
    display: flex;
  }
}

@media screen and (max-width: 40.625em) {
  .nav--header h2 {
    font-size: 1.2rem;
  }
}
