body {
  background-color: #292d32;
  color: #efeef3;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
}

::-webkit-scrollbar {
  width: 1em;
}

::-webkit-scrollbar-thumb {
  background: #81ecec;
  border-radius: 100vh;
}

::-webkit-scrollbar-track {
  background: #282c30;
}

/* 
990px: 61.875em
650px: 40.625em
*/
